.govuk-tag--inactive {
  background-color:  govuk-colour("dark-grey");
}

.govuk-tag--active {
  background-color:  govuk-colour("orange");
}

.govuk-tag--complete {
  background-color:  $sepa-green;
}