.action-box {
  background-color: govuk-colour("light-grey");
  margin-top: 15px;
  padding: 25px 28px 5px 28px;
  position: relative;
}

.govuk-action-box__lock-icon {
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -7px;
}